.places
{
  /* Поведение почти аналогично lead и intro */

  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1280px)
{
  .places
  {
    margin-left: 148px;
    margin-right: 148px;
  }
}

@media screen and (max-width: 1080px)
{
  .places
  {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px)
{
  .places
  {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px)
{
  .places
  {
    margin-left: 0;
    margin-right: 0;
  }
}
