.lead
{
  margin-left: auto;
  margin-right: auto;

  max-width: 984px;
}

@media screen and (max-width: 1280px)
{
  .lead
  {
    margin-left: 148px;
    margin-right: 148px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1150px)
{
  .lead
  {
    margin-left: 98px;
    margin-right: 98px;
  }
}

@media screen and (max-width: 1024px)
{
  .lead
  {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 800px)
{
  .lead
  {
    margin-left: 0;
    margin-right: 0;
  }
}
