.lead__image
{
  padding: 0;
  margin: 0;

  width: 100%;

  /* media */
  margin-top: 56px;
}

@media screen and (min-width: 1280px)
{
  .lead__image
  {
    margin-top: 64px;
  }
}

@media screen and (max-width: 1024px)
{
  .lead__image
  {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px), (orientation: portrait)
{
  .lead__image
  {
    margin-top: 40px;
  }
}
