.intro
{
  max-width: 984px;
  /*margin-left: 48px;
  margin-right: 48px;*/
}
/*
@media screen and (min-width: 1280px)
{
  .intro
  {
  /*  margin-left: 148px;
    margin-right: 148px;
  }
}

@media screen and (max-width: 1024px)
{
  .intro
  {
  /*  margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px)
{
  .intro
  {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px), (orientation: portrait)
{
  .intro
  {
    margin-left: 16px;
    margin-right: 16px;
  }
}
*/
