.lead__subtitle
{
  padding: 0;
  margin: 0 auto 64px;

  max-width: 640px;

  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

@media screen and (min-width: 1024px)
{
  .lead__subtitle
  {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px)
{
  .lead__subtitle
  {
    margin-bottom: 40px;
    font-size: 23px;
    max-width: 460px;
  }
}

@media screen and (max-width: 590px)
{
  .lead__subtitle
  {
    font-size: 16px;
    line-height: 125%;

    max-width: 288px;
  }
}
