.cover
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  /* media */
  height: 640px;
}

@media screen and (min-width: 1280px)
{
  .cover
  {
    margin-left: 48px;
    margin-right: 48px;

    height: 740px;
  }
}

@media screen and (max-width: 1024px)
{
  .cover
  {
    height: 640px;
  }
}

@media screen and (max-width: 768px)
{
  .cover
  {
    height: 480px;
  }
}

@media screen and (max-width: 320px), (orientation: portrait)
{
  .cover
  {
    height: 200px;
  }
}
