.footer
{
  margin-bottom: 24px;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  /* media */
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 768px)
{
  .footer
  {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px), (orientation: portrait)
{
  .footer
  {
    margin-left: 16px;

    align-items: flex-start;
    flex-direction: column;
  }
}
